In [2]:
import pandas as pd
from pandas_profiling import ProfileReport

In [3]:
# 액티브 중소법인 재무보유 sheet 별로 불러오기

df_summary_out = pd.read_excel('../dataset/액티브 중소법인 재무보유.xlsx', sheet_name='기업개요_외감')
df_summary = pd.read_excel('../dataset/액티브 중소법인 재무보유.xlsx', sheet_name='기업개요')
df_inactive = pd.read_excel('../dataset/액티브 중소법인 재무보유.xlsx', sheet_name='휴폐업이력')

In [4]:
# 개방데이터 레이아웃에서 한글칼럼명 가져오기

df_columns = pd.read_excel('../dataset/넘블 챌린지 개방데이터 레이아웃.xlsx', sheet_name='최종')
df_columns = df_columns[['영문칼럼명', '한글칼럼명']]
dict_columns = dict(zip(df_columns['영문칼럼명'], df_columns['한글칼럼명']))

In [5]:
# 기업개요_외감 영문칼럼명에서 한글칼럼명으로 바꾸기

df_summary_out.rename(columns = dict_columns, inplace=True)
df_summary_out.head()

,사업자등록번호,기업접두명,CMP_NM1,기업접미명,기업영문명,업종,기업규모,공기업구분 1.공기업 2.일반기업,개인법인구분 1.법인 2.개인,본점지점구분 1.본점 2.지점,...,중견기업보호여부,본점기업코드,설립일자,설립구분,상장일자,주요사업내용,국가명,홈페이지URL,대표자명,직원수
0,1138111739,NaN,한일가스산업,(주),"HANIL GAS IND. CO.,LTD.",M,2,2,1,1,...,N,NaN,19660419.0,1,NaN,LP Gas 충전 및 판매업,NaN,www.hanilgas.com,홍순철외 1명,43.0
1,2078132193,(주),엠피아이,NaN,"EMPIALEE CO.,LTD.",M,2,2,1,1,...,N,NaN,19910806.0,1,NaN,가죽 및 대용가죽제품 제조업,NaN,www.mastercnd.co.kr,이스테판상수외 1명,35.0
2,1318167565,NaN,도영운수,(주),"DOYOUNG TRANSPORTATION CO.,LTD.",M,2,2,1,1,...,N,NaN,20011030.0,1,NaN,시내버스업,NaN,transport@naver.com,김명화,149.0
3,5048128251,(주),중원산업,NaN,"JOONGWON INDUSTRIAL CO.,LTD.",M,2,2,1,1,...,N,NaN,19990112.0,1,NaN,자동차 부품 제조,NaN,www.koreajw.com,김명구,75.0
4,1098164260,(주),카타나골프,NaN,"CATANA GOLF CO.,LTD.",M,2,2,1,1,...,N,NaN,20000531.0,1,NaN,골프용품 전반의 제조 및 수출업,NaN,NaN,김홍득,3.0

In [6]:
# 기업개요 영문칼럼명에서 한글칼럼명으로 바꾸기

df_summary.rename(columns = dict_columns, inplace=True)
df_summary.head()

,사업자등록번호,기업접두명,기업명,CMP_NM1,기업접미명,기업영문명,업종,CMP_TYP,기업규모,공기업구분 1.공기업 2.일반기업,...,TAXN_TYP,본점기업코드,설립일자,설립구분,상장일자,주요사업내용,국가명,홈페이지URL,대표자명,직원수
0,2218116923,NaN,NaN,신우종합건설,(주),"Shinu General Construction Co., Ltd.",M,4,2,2,...,3.0,NaN,20000807.0,1.0,NaN,토목공사업,NaN,NaN,김주대외 1명,12.0
1,1138111739,NaN,한일가스산업(주),한일가스산업,(주),"HANIL GAS IND. CO.,LTD.",M,3,2,2,...,3.0,NaN,19660419.0,1.0,NaN,LP Gas 충전 및 판매업,NaN,www.hanilgas.com,홍순철외 1명,43.0
2,1108146490,(주),NaN,랩솔루션,NaN,Lab Solution,M,4,2,2,...,3.0,NaN,20000612.0,1.0,NaN,기체분석기 등,NaN,www.lab-solution.com,김봉철,3.0
3,3128134737,(주),NaN,고려인삼제품공사,NaN,"KOREAN GINSENG PRODUCT CO., LTD",M,4,2,2,...,3.0,NaN,19920301.0,1.0,NaN,"다류, 차, 인삼제품, 음료, 코코아가공품, 커피",NaN,www.kitea.co.kr,박경출,24.0
4,2078132193,(주),(주)엠피아이,엠피아이,NaN,"EMPIALEE CO.,LTD.",M,3,2,2,...,3.0,NaN,19910806.0,1.0,NaN,가죽 및 대용가죽제품 제조업,NaN,www.mastercnd.co.kr,이스테판상수외 1명,35.0

In [7]:
# 휴폐업이력 영문칼럼명에서 한글칼럼명으로 바꾸기

df_inactive.rename(columns = dict_columns, inplace=True)
df_inactive.head()

      사업자등록번호      종료일자      시작일자  휴폐업구분  상태발생일자
0  5088115592  99991231  20150209      5     NaN
1  5088115592  20150208  20200731      2     NaN
2  1138127100  99991231  20121105      5     NaN
3  1138127100  20121104  20200731      2     NaN
4  1138127100  20121004  20200731      5     NaN

In [8]:
profile_summary_out = ProfileReport(df_summary_out, title="액티브 중소법인 재무보유_기업개요_외감")
profile_summary = ProfileReport(df_summary, title="액티브 중소법인 재무보유_기업개요")
profile_inactive = ProfileReport(df_inactive, title="액티브 중소법인 재무보유_휴폐업이력")

profile_summary_out.to_file("액티브 중소법인 재무보유_기업개요_외감.html")
profile_summary.to_file("액티브 중소법인 재무보유_기업개요.html")
profile_inactive.to_file("액티브 중소법인 재무보유_휴폐업이력.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

/Users/chai/miniforge3/envs/comenv/lib/python3.9/site-packages/pandas_profiling/model/correlations.py:55: UserWarning: There was an attempt to calculate the cramers correlation, but this failed.
To hide this warning, disable the calculation
(using `df.profile_report(correlations={"cramers": {"calculate": False}})`
If this is problematic for your use case, please report this as an issue:
https://github.com/ydataai/pandas-profiling/issues
(include the error message: 'No data; `observed` has size 0.')
  warnings.warn(

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

/Users/chai/miniforge3/envs/comenv/lib/python3.9/site-packages/scipy/stats/_stats_py.py:5215: RuntimeWarning: overflow encountered in long_scalars
  (2 * xtie * ytie) / m + x0 * y0 / (9 * m * (size - 2)))
/Users/chai/miniforge3/envs/comenv/lib/python3.9/site-packages/scipy/stats/_stats_py.py:5216: RuntimeWarning: invalid value encountered in sqrt
  z = con_minus_dis / np.sqrt(var)
/Users/chai/miniforge3/envs/comenv/lib/python3.9/site-packages/pandas_profiling/model/correlations.py:55: UserWarning: There was an attempt to calculate the cramers correlation, but this failed.
To hide this warning, disable the calculation
(using `df.profile_report(correlations={"cramers": {"calculate": False}})`
If this is problematic for your use case, please report this as an issue:
https://github.com/ydataai/pandas-profiling/issues
(include the error message: 'No data; `observed` has size 0.')
  warnings.warn(

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]