In [10]:
import pandas as pd
from pandas_profiling import ProfileReport

In [2]:
# 휴폐업 중소법인 재무보유 sheet 별로 불러오기

df_summary = pd.read_excel('../dataset/휴폐업 중소법인 재무보유.xlsx', sheet_name='기업개요')
df_inactive = pd.read_excel('../dataset/휴폐업 중소법인 재무보유.xlsx', sheet_name='휴폐업이력')

In [28]:
# 개방데이터 레이아웃에서 한글칼럼명 가져오기

df_columns = pd.read_excel('../dataset/넘블 챌린지 개방데이터 레이아웃.xlsx', sheet_name='최종')
df_columns = df_columns[['영문칼럼명', '한글칼럼명']]
dict_columns = dict(zip(df_columns['영문칼럼명'], df_columns['한글칼럼명']))

In [32]:
# 기업개요 영문칼럼명에서 한글칼럼명으로 바꾸기

df_summary.rename(columns = dict_columns, inplace=True)
df_summary.head()

,사업자등록번호,기업접두명,기업명,기업접미명,기업영문명,업종,기업규모,공기업구분 1.공기업 2.일반기업,개인법인구분 1.법인 2.개인,본점지점구분 1.본점 2.지점,...,중견기업보호여부,본점기업코드,설립일자,설립구분,상장일자,주요사업내용,국가명,홈페이지URL,대표자명,직원수
0,1268145633,(주),용진테크,NaN,"Yongjin Tech Co., Ltd.",M,2,2,1,1,...,N,NaN,20000529.0,1,NaN,자동차부품 제조판매업,NaN,www.yongjintech.com,안상동,40.0
1,1388101749,NaN,신구건설,(주),"SHINKU C0NSTRUCTION CO.,LTD.",M,2,2,1,1,...,N,NaN,19850110.0,1,NaN,건축자재 판매업,NaN,www.shinku.co.kr,소재필,13.0
2,1068179240,(주),석정미디어,NaN,sung jung,M,2,2,1,1,...,N,NaN,19990601.0,1,NaN,"토너, 잉크, 프린터 외 컴퓨터 관련 주변기기",NaN,NaN,이상호,1.0
3,2248114507,(주),새한실업,NaN,"SAEHAN INDUSTRY CO.,LTD.",M,2,2,1,1,...,N,NaN,19980522.0,1,NaN,금속 캔 및 기타 포장용기 제조업,NaN,NaN,김정남외 1명,6.0
4,1168132785,(주),석영엔터프라이즈,NaN,"Seokyoung Enterprise Co.,Ltd.",M,2,2,1,1,...,N,NaN,19930226.0,1,NaN,스마트트레이 외,NaN,www.systeel.co.kr,박성진,40.0

In [34]:
# 휴폐업이력 영문칼럼명에서 한글칼럼명으로 바꾸기

df_inactive.rename(columns = dict_columns, inplace=True)
df_inactive.head()

      사업자등록번호      종료일자      시작일자  휴폐업구분    상태발생일자
0  1268145633  99991231  20220518      3  20220518
1  1388101749  99991231  20210319      3  20210319
2  1068179240  99991231  20200731      3  20191213
3  2248114507  99991231  20210531      3  20210531
4  1168132785  99991231  20210630      3  20210630

In [35]:
profile_summary = ProfileReport(df_summary, title="휴폐업 중소법인 재무보유_기업개요")
profile_inactive = ProfileReport(df_inactive, title="휴폐업 중소법인 재무보유_휴폐업이력")

profile_summary.to_file("휴폐업 중소법인 재무보유_기업개요.html")
profile_inactive.to_file("휴폐업 중소법인 재무보유_휴폐업이력.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

/Users/chai/miniforge3/envs/comenv/lib/python3.9/site-packages/pandas_profiling/model/correlations.py:55: UserWarning: There was an attempt to calculate the cramers correlation, but this failed.
To hide this warning, disable the calculation
(using `df.profile_report(correlations={"cramers": {"calculate": False}})`
If this is problematic for your use case, please report this as an issue:
https://github.com/ydataai/pandas-profiling/issues
(include the error message: 'No data; `observed` has size 0.')
  warnings.warn(

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]