In [1]:
import pandas as pd
from pandas_profiling import ProfileReport
import datetime 
from datetime import timedelta

In [2]:
non_financial = pd.read_csv('../dataset/merge.csv')
non_financial

,사업자등록번호,업종,공기업구분 1.공기업 2.일반기업,본점지점구분 1.본점 2.지점,국외투자법인여부,벤처기업여부,상장코드,산업코드1,산업코드2,산업코드3,공공기관유형,중견기업보호여부,본점기업코드,설립일자,설립구분,상장일자,주요사업내용,국가명,직원수,휴폐업 유무
0,1138111739,M,2,1,N,N,NaN,47712.0,NaN,NaN,0,N,NaN,19660419.0,1.0,NaN,LP Gas 충전 및 판매업,NaN,43.0,N
1,2078132193,M,2,1,N,N,NaN,15190.0,NaN,NaN,0,N,NaN,19910806.0,1.0,NaN,가죽 및 대용가죽제품 제조업,NaN,35.0,N
2,1318167565,M,2,1,N,N,NaN,49212.0,NaN,NaN,0,N,NaN,20011030.0,1.0,NaN,시내버스업,NaN,149.0,N
3,5048128251,M,2,1,N,N,NaN,30391.0,NaN,NaN,0,N,NaN,19990112.0,1.0,NaN,자동차 부품 제조,NaN,75.0,N
4,1098164260,M,2,1,N,N,NaN,46800.0,NaN,NaN,0,N,NaN,20000531.0,1.0,NaN,골프용품 전반의 제조 및 수출업,NaN,3.0,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234367,4808501629,M,2,2,N,N,NaN,10200.0,NaN,NaN,0,N,8474403.0,20180126.0,1.0,NaN,간장게장(장류),NaN,NaN,Y
234368,8018501578,M,2,2,N,N,NaN,10122.0,NaN,NaN,0,N,4033821.0,20200727.0,1.0,NaN,"돈가스, 탕수육, 꿔바로우",NaN,22.0,Y
234369,4118523419,M,2,2,N,N,NaN,56111.0,56121.0,NaN,0,N,9189675.0,20190926.0,1.0,NaN,"한식, 중식",NaN,0.0,Y
234370,1738102533,M,2,1,N,N,NaN,58222.0,NaN,NaN,0,N,NaN,20211025.0,1.0,NaN,1.인공지능(AI) 솔루션 구축 및 관련사업,NaN,NaN,Y
234371,3138135248,M,2,1,N,Y,NaN,29280.0,NaN,NaN,0,N,NaN,20200629.0,1.0,NaN,NaN,NaN,NaN,Y

In [3]:
ind_og = non_financial

# dropna 산업코드 
ind_og = ind_og.dropna(subset= ['산업코드1'])
ind_og.head(10)

,사업자등록번호,업종,공기업구분 1.공기업 2.일반기업,본점지점구분 1.본점 2.지점,국외투자법인여부,벤처기업여부,상장코드,산업코드1,산업코드2,산업코드3,공공기관유형,중견기업보호여부,본점기업코드,설립일자,설립구분,상장일자,주요사업내용,국가명,직원수,휴폐업 유무
0,1138111739,M,2,1,N,N,NaN,47712.0,NaN,NaN,0,N,NaN,19660419.0,1.0,NaN,LP Gas 충전 및 판매업,NaN,43.0,N
1,2078132193,M,2,1,N,N,NaN,15190.0,NaN,NaN,0,N,NaN,19910806.0,1.0,NaN,가죽 및 대용가죽제품 제조업,NaN,35.0,N
2,1318167565,M,2,1,N,N,NaN,49212.0,NaN,NaN,0,N,NaN,20011030.0,1.0,NaN,시내버스업,NaN,149.0,N
3,5048128251,M,2,1,N,N,NaN,30391.0,NaN,NaN,0,N,NaN,19990112.0,1.0,NaN,자동차 부품 제조,NaN,75.0,N
4,1098164260,M,2,1,N,N,NaN,46800.0,NaN,NaN,0,N,NaN,20000531.0,1.0,NaN,골프용품 전반의 제조 및 수출업,NaN,3.0,N
5,2148612093,M,2,1,N,N,NaN,55101.0,NaN,NaN,0,N,NaN,19880810.0,1.0,NaN,호텔운영 및 객장임대업,NaN,2.0,N
6,2068148256,M,2,1,N,N,NaN,72110.0,NaN,NaN,0,N,NaN,19940120.0,1.0,NaN,"설계,감리",NaN,200.0,N
7,1078156099,M,2,1,N,N,NaN,46733.0,NaN,NaN,0,N,NaN,19960701.0,1.0,NaN,플라스틱 합성수지 제조업체,NaN,36.0,N
8,6218111642,M,2,1,N,N,NaN,13225.0,NaN,NaN,0,N,NaN,19931021.0,1.0,NaN,마대원단 직조 및 판매업,NaN,17.0,N
9,5148140835,M,2,1,Y,N,NaN,30310.0,NaN,NaN,0,N,NaN,20010621.0,1.0,NaN,"자동차부품의 제조,판매,수출입",일본,94.0,N

In [4]:
def to_three(s):
    if len(str(int(s))) == 4:
        tmp = '0'+str(int(s))    
    else:
        tmp = str(int(s))
        
    return tmp[:3]

In [5]:
ind_og['산업코드1'] = ind_og['산업코드1'].apply(lambda x: to_three(x))
ind_og['산업코드1'].value_counts()

<ipython-input-5-78913266aba3>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ind_og['산업코드1'] = ind_og['산업코드1'].apply(lambda x: to_three(x))

412    10523
681     9719
465     9659
582     9416
423     7656
       ...
500        1
942        1
852        1
860        1
030        1
Name: 산업코드1, Length: 285, dtype: int64

In [6]:
standard_ind_code = pd.read_excel('../dataset/산업분류/standard_ind_code.xlsx', header=2)
standard_ind_code = standard_ind_code.fillna(method='ffill')
standard_ind_code

                                          항목명   코드                항목명.1
0                          농업, 임업 및 어업(01~03)   11               작물 재배업
1                          농업, 임업 및 어업(01~03)   12                  축산업
2                          농업, 임업 및 어업(01~03)   13       작물재배 및 축산 복합농업
3                          농업, 임업 및 어업(01~03)   14    작물재배 및 축산 관련 서비스업
4                          농업, 임업 및 어업(01~03)   15         수렵 및 관련 서비스업
..                                        ...  ...                  ...
227           협회 및 단체, 수리 및 기타 개인 서비스업(94~96)  969       그 외 기타 개인 서비스업
228  가구 내 고용활동 및 달리 분류되지 않은 자가 소비 생산활동(97~98)  970            가구 내 고용활동
229  가구 내 고용활동 및 달리 분류되지 않은 자가 소비 생산활동(97~98)  981   자가 소비를 위한 가사 생산 활동
230  가구 내 고용활동 및 달리 분류되지 않은 자가 소비 생산활동(97~98)  982  자가 소비를 위한 가사 서비스 활동
231                             국제 및 외국기관(99)  990            국제 및 외국기관

[232 rows x 3 columns]

In [7]:
def to_three2(s):
    if len(str(int(s))) == 2:
        tmp = '0'+str(int(s))    
    else:
        tmp = str(int(s))
        
    return tmp

In [8]:
standard_ind_code['코드'] = standard_ind_code['코드'].apply(lambda x: to_three2(x))
standard_ind_code

                                          항목명   코드                항목명.1
0                          농업, 임업 및 어업(01~03)  011               작물 재배업
1                          농업, 임업 및 어업(01~03)  012                  축산업
2                          농업, 임업 및 어업(01~03)  013       작물재배 및 축산 복합농업
3                          농업, 임업 및 어업(01~03)  014    작물재배 및 축산 관련 서비스업
4                          농업, 임업 및 어업(01~03)  015         수렵 및 관련 서비스업
..                                        ...  ...                  ...
227           협회 및 단체, 수리 및 기타 개인 서비스업(94~96)  969       그 외 기타 개인 서비스업
228  가구 내 고용활동 및 달리 분류되지 않은 자가 소비 생산활동(97~98)  970            가구 내 고용활동
229  가구 내 고용활동 및 달리 분류되지 않은 자가 소비 생산활동(97~98)  981   자가 소비를 위한 가사 생산 활동
230  가구 내 고용활동 및 달리 분류되지 않은 자가 소비 생산활동(97~98)  982  자가 소비를 위한 가사 서비스 활동
231                             국제 및 외국기관(99)  990            국제 및 외국기관

[232 rows x 3 columns]

In [9]:
ind_new = pd.merge(ind_og, standard_ind_code, left_on= '산업코드1', right_on='코드')
ind_new

,사업자등록번호,업종,공기업구분 1.공기업 2.일반기업,본점지점구분 1.본점 2.지점,국외투자법인여부,벤처기업여부,상장코드,산업코드1,산업코드2,산업코드3,...,설립일자,설립구분,상장일자,주요사업내용,국가명,직원수,휴폐업 유무,항목명,코드,항목명.1
0,1138111739,M,2,1,N,N,NaN,477,NaN,NaN,...,19660419.0,1.0,NaN,LP Gas 충전 및 판매업,NaN,43.0,N,도매 및 소매업(45~47),477,연료 소매업
1,6068158196,M,2,1,N,N,NaN,477,NaN,NaN,...,19891001.0,1.0,NaN,유류 도소매업,NaN,6.0,N,도매 및 소매업(45~47),477,연료 소매업
2,1118100750,M,2,1,N,N,NaN,477,NaN,NaN,...,19740731.0,1.0,NaN,LPG 도·소매업,NaN,18.0,N,도매 및 소매업(45~47),477,연료 소매업
3,6098103778,M,2,1,N,N,NaN,477,NaN,NaN,...,19810301.0,1.0,NaN,유류가스 도소매,NaN,10.0,N,도매 및 소매업(45~47),477,연료 소매업
4,2178102639,M,2,1,N,N,NaN,477,NaN,NaN,...,19881229.0,1.0,NaN,차량용 연료 소매업,NaN,18.0,N,도매 및 소매업(45~47),477,연료 소매업
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
231214,1318400774,M,2,1,N,N,NaN,990,NaN,NaN,...,20130620.0,99.0,NaN,NaN,NaN,51.0,N,국제 및 외국기관(99),990,국제 및 외국기관
231215,6168204511,M,2,1,N,N,NaN,852,NaN,NaN,...,NaN,8.0,NaN,학교,NaN,0.0,N,교육 서비스업(85),852,중등 교육기관
231216,4098611727,M,2,1,N,Y,NaN,862,NaN,NaN,...,20091112.0,1.0,NaN,타액 호르몬 분석 서비스업,NaN,5.0,N,보건업 및 사회복지 서비스업(86~87),862,의원
231217,4738600600,M,2,1,N,Y,NaN,862,NaN,NaN,...,20170124.0,1.0,NaN,체외진단,NaN,6.0,N,보건업 및 사회복지 서비스업(86~87),862,의원
231218,1708701099,M,2,1,N,Y,NaN,862,NaN,NaN,...,20180808.0,1.0,NaN,혈액 내 RNA을 이용한 건강 검진 및 질병 진단 서비스,NaN,5.0,N,보건업 및 사회복지 서비스업(86~87),862,의원

In [10]:
# ind_new = ind_new.drop(columns='산업코드1')
ind_new= ind_new.rename(columns={'항목명': '대분류', '코드': '분류코드', '항목명.1': '세부항목'})
ind_new

,사업자등록번호,업종,공기업구분 1.공기업 2.일반기업,본점지점구분 1.본점 2.지점,국외투자법인여부,벤처기업여부,상장코드,산업코드1,산업코드2,산업코드3,...,설립일자,설립구분,상장일자,주요사업내용,국가명,직원수,휴폐업 유무,대분류,분류코드,세부항목
0,1138111739,M,2,1,N,N,NaN,477,NaN,NaN,...,19660419.0,1.0,NaN,LP Gas 충전 및 판매업,NaN,43.0,N,도매 및 소매업(45~47),477,연료 소매업
1,6068158196,M,2,1,N,N,NaN,477,NaN,NaN,...,19891001.0,1.0,NaN,유류 도소매업,NaN,6.0,N,도매 및 소매업(45~47),477,연료 소매업
2,1118100750,M,2,1,N,N,NaN,477,NaN,NaN,...,19740731.0,1.0,NaN,LPG 도·소매업,NaN,18.0,N,도매 및 소매업(45~47),477,연료 소매업
3,6098103778,M,2,1,N,N,NaN,477,NaN,NaN,...,19810301.0,1.0,NaN,유류가스 도소매,NaN,10.0,N,도매 및 소매업(45~47),477,연료 소매업
4,2178102639,M,2,1,N,N,NaN,477,NaN,NaN,...,19881229.0,1.0,NaN,차량용 연료 소매업,NaN,18.0,N,도매 및 소매업(45~47),477,연료 소매업
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
231214,1318400774,M,2,1,N,N,NaN,990,NaN,NaN,...,20130620.0,99.0,NaN,NaN,NaN,51.0,N,국제 및 외국기관(99),990,국제 및 외국기관
231215,6168204511,M,2,1,N,N,NaN,852,NaN,NaN,...,NaN,8.0,NaN,학교,NaN,0.0,N,교육 서비스업(85),852,중등 교육기관
231216,4098611727,M,2,1,N,Y,NaN,862,NaN,NaN,...,20091112.0,1.0,NaN,타액 호르몬 분석 서비스업,NaN,5.0,N,보건업 및 사회복지 서비스업(86~87),862,의원
231217,4738600600,M,2,1,N,Y,NaN,862,NaN,NaN,...,20170124.0,1.0,NaN,체외진단,NaN,6.0,N,보건업 및 사회복지 서비스업(86~87),862,의원
231218,1708701099,M,2,1,N,Y,NaN,862,NaN,NaN,...,20180808.0,1.0,NaN,혈액 내 RNA을 이용한 건강 검진 및 질병 진단 서비스,NaN,5.0,N,보건업 및 사회복지 서비스업(86~87),862,의원

In [18]:
ind_new.columns

Index(['사업자등록번호', '업종', '공기업구분 1.공기업 2.일반기업', '본점지점구분 1.본점 2.지점', '국외투자법인여부',
       '벤처기업여부', '상장코드', '산업코드1', '산업코드2', '산업코드3', '공공기관유형', '중견기업보호여부',
       '본점기업코드', '설립일자', '설립구분', '상장일자', '주요사업내용', '국가명', '직원수', '휴폐업 유무',
       '대분류', '분류코드', '세부항목'],
      dtype='object')

In [12]:
ind_new['대분류'].unique()

array(['도매 및 소매업(45~47)', '제조업(10~34)', '운수 및 창고업(49~52)',
       '숙박 및 음식점업(55~56)', '전문, 과학 및 기술 서비스업(70~73)',
       '사업시설 관리, 사업 지원 및 임대 서비스업(74~76)', '부동산업(68)', '건설업(41~42)',
       '수도, 하수 및 폐기물 처리, 원료 재생업(36~39)', '금융 및 보험업(64~66)',
       '정보통신업(58~63)', '예술, 스포츠 및 여가관련 서비스업(90~91)',
       '협회 및 단체, 수리 및 기타 개인 서비스업(94~96)', '광업(05~08)', '교육 서비스업(85)',
       '농업, 임업 및 어업(01~03)', '전기, 가스, 증기 및 공기 조절 공급업(35)',
       '보건업 및 사회복지 서비스업(86~87)', '공공 행정, 국방 및 사회보장 행정(84)',
       '국제 및 외국기관(99)'], dtype=object)

In [13]:
ind_new[ind_new['휴폐업 유무']=='Y']['대분류'].unique() # 국제 및 외국기관 없음.

array(['도매 및 소매업(45~47)', '제조업(10~34)', '운수 및 창고업(49~52)',
       '숙박 및 음식점업(55~56)', '전문, 과학 및 기술 서비스업(70~73)',
       '사업시설 관리, 사업 지원 및 임대 서비스업(74~76)', '부동산업(68)', '건설업(41~42)',
       '수도, 하수 및 폐기물 처리, 원료 재생업(36~39)', '금융 및 보험업(64~66)',
       '정보통신업(58~63)', '예술, 스포츠 및 여가관련 서비스업(90~91)',
       '협회 및 단체, 수리 및 기타 개인 서비스업(94~96)', '광업(05~08)', '교육 서비스업(85)',
       '농업, 임업 및 어업(01~03)', '전기, 가스, 증기 및 공기 조절 공급업(35)',
       '보건업 및 사회복지 서비스업(86~87)', '공공 행정, 국방 및 사회보장 행정(84)'], dtype=object)

In [14]:
a = ind_new[ind_new['휴폐업 유무']=='Y']['대분류'].value_counts()
b = ind_new['대분류'].value_counts()

a/b * 100

건설업(41~42)                          1.603421
공공 행정, 국방 및 사회보장 행정(84)             2.272727
광업(05~08)                           2.564103
교육 서비스업(85)                         4.864434
국제 및 외국기관(99)                            NaN
금융 및 보험업(64~66)                     4.931247
농업, 임업 및 어업(01~03)                  2.393747
도매 및 소매업(45~47)                     3.476001
보건업 및 사회복지 서비스업(86~87)              8.421053
부동산업(68)                            2.700866
사업시설 관리, 사업 지원 및 임대 서비스업(74~76)     2.072210
수도, 하수 및 폐기물 처리, 원료 재생업(36~39)      1.273561
숙박 및 음식점업(55~56)                   10.619894
예술, 스포츠 및 여가관련 서비스업(90~91)          2.404159
운수 및 창고업(49~52)                     2.156929
전기, 가스, 증기 및 공기 조절 공급업(35)          2.514970
전문, 과학 및 기술 서비스업(70~73)             2.395741
정보통신업(58~63)                        2.852411
제조업(10~34)                          2.967760
협회 및 단체, 수리 및 기타 개인 서비스업(94~96)     4.838710
Name: 대분류, dtype: float64

In [15]:
a

제조업(10~34)                         2328
도매 및 소매업(45~47)                    1431
건설업(41~42)                          660
정보통신업(58~63)                        465
전문, 과학 및 기술 서비스업(70~73)             351
부동산업(68)                            318
숙박 및 음식점업(55~56)                    221
사업시설 관리, 사업 지원 및 임대 서비스업(74~76)     163
운수 및 창고업(49~52)                     127
금융 및 보험업(64~66)                     104
협회 및 단체, 수리 및 기타 개인 서비스업(94~96)      75
교육 서비스업(85)                          61
농업, 임업 및 어업(01~03)                   49
예술, 스포츠 및 여가관련 서비스업(90~91)           37
수도, 하수 및 폐기물 처리, 원료 재생업(36~39)       25
전기, 가스, 증기 및 공기 조절 공급업(35)           21
보건업 및 사회복지 서비스업(86~87)               16
광업(05~08)                             9
공공 행정, 국방 및 사회보장 행정(84)               1
Name: 대분류, dtype: int64

In [16]:
ind_new.groupby(['대분류', '휴폐업 유무'])['대분류'].count()

대분류                              휴폐업 유무
건설업(41~42)                       N         40502
                                 Y           660
공공 행정, 국방 및 사회보장 행정(84)          N            43
                                 Y             1
광업(05~08)                        N           342
                                 Y             9
교육 서비스업(85)                      N          1193
                                 Y            61
국제 및 외국기관(99)                    N             2
금융 및 보험업(64~66)                  N          2005
                                 Y           104
농업, 임업 및 어업(01~03)               N          1998
                                 Y            49
도매 및 소매업(45~47)                  N         39737
                                 Y          1431
보건업 및 사회복지 서비스업(86~87)           N           174
                                 Y            16
부동산업(68)                         N         11456
                                 Y           318
사업시설 관리, 사업 지원 및 임대 서비스업(74~76)  N          7703
                                 Y           163
수도, 하수 및 폐기물 처리, 원료 재생업(36~39)   N          1938
                                 Y            25
숙박 및 음식점업(55~56)                 N          1860
                                 Y           221
예술, 스포츠 및 여가관련 서비스업(90~91)       N          1502
                                 Y            37
운수 및 창고업(49~52)                  N          5761
                                 Y           127
전기, 가스, 증기 및 공기 조절 공급업(35)       N           814
                                 Y            21
전문, 과학 및 기술 서비스업(70~73)          N         14300
                                 Y           351
정보통신업(58~63)                     N         15837
                                 Y           465
제조업(10~34)                       N         76115
                                 Y          2328
협회 및 단체, 수리 및 기타 개인 서비스업(94~96)  N          1475
                                 Y            75
Name: 대분류, dtype: int64

In [17]:
a['휴폐업 유무']

KeyError: '휴폐업 유무'

In [ ]:
ind_new.columns
ind_new.drop(columns=['업종', '본점지점구분 1.본점 2.지점', '국외투자법인여부', 
    '산업코드1','산업코드2','산업코드3'
    ])

ind_new

,사업자등록번호,업종,공기업구분 1.공기업 2.일반기업,본점지점구분 1.본점 2.지점,국외투자법인여부,벤처기업여부,상장코드,산업코드1,산업코드2,산업코드3,...,설립일자,설립구분,상장일자,주요사업내용,국가명,직원수,휴폐업 유무,대분류,분류코드,세부항목
0,1138111739,M,2,1,N,N,NaN,477,NaN,NaN,...,19660419.0,1.0,NaN,LP Gas 충전 및 판매업,NaN,43.0,N,도매 및 소매업(45~47),477,연료 소매업
1,6068158196,M,2,1,N,N,NaN,477,NaN,NaN,...,19891001.0,1.0,NaN,유류 도소매업,NaN,6.0,N,도매 및 소매업(45~47),477,연료 소매업
2,1118100750,M,2,1,N,N,NaN,477,NaN,NaN,...,19740731.0,1.0,NaN,LPG 도·소매업,NaN,18.0,N,도매 및 소매업(45~47),477,연료 소매업
3,6098103778,M,2,1,N,N,NaN,477,NaN,NaN,...,19810301.0,1.0,NaN,유류가스 도소매,NaN,10.0,N,도매 및 소매업(45~47),477,연료 소매업
4,2178102639,M,2,1,N,N,NaN,477,NaN,NaN,...,19881229.0,1.0,NaN,차량용 연료 소매업,NaN,18.0,N,도매 및 소매업(45~47),477,연료 소매업
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
231214,1318400774,M,2,1,N,N,NaN,990,NaN,NaN,...,20130620.0,99.0,NaN,NaN,NaN,51.0,N,국제 및 외국기관(99),990,국제 및 외국기관
231215,6168204511,M,2,1,N,N,NaN,852,NaN,NaN,...,NaN,8.0,NaN,학교,NaN,0.0,N,교육 서비스업(85),852,중등 교육기관
231216,4098611727,M,2,1,N,Y,NaN,862,NaN,NaN,...,20091112.0,1.0,NaN,타액 호르몬 분석 서비스업,NaN,5.0,N,보건업 및 사회복지 서비스업(86~87),862,의원
231217,4738600600,M,2,1,N,Y,NaN,862,NaN,NaN,...,20170124.0,1.0,NaN,체외진단,NaN,6.0,N,보건업 및 사회복지 서비스업(86~87),862,의원
231218,1708701099,M,2,1,N,Y,NaN,862,NaN,NaN,...,20180808.0,1.0,NaN,혈액 내 RNA을 이용한 건강 검진 및 질병 진단 서비스,NaN,5.0,N,보건업 및 사회복지 서비스업(86~87),862,의원