In [1]:
import pandas as pd
from pandas_profiling import ProfileReport
import datetime 
from datetime import timedelta

In [56]:
non_financial = pd.read_csv('../dataset/merge.csv')
ind_og = non_financial[['사업자등록번호', '산업코드1']]

# dropna 산업코드 
ind_og = ind_og.dropna()
ind_og

           사업자등록번호    산업코드1
0       1138111739  47712.0
1       2078132193  15190.0
2       1318167565  49212.0
3       5048128251  30391.0
4       1098164260  46800.0
...            ...      ...
234367  4808501629  10200.0
234368  8018501578  10122.0
234369  4118523419  56111.0
234370  1738102533  58222.0
234371  3138135248  29280.0

[234168 rows x 2 columns]

In [57]:
def to_three(s):
    if len(str(int(s))) == 4:
        tmp = '0'+str(int(s))    
    else:
        tmp = str(int(s))
        
    return tmp[:3]

In [58]:
to_three(1020.0)

'010'

In [59]:
ind_og['산업코드1'] = ind_og['산업코드1'].apply(lambda x: to_three(x))
ind_og['산업코드1'].value_counts()

412    10523
681     9719
465     9659
582     9416
423     7656
       ...
500        1
942        1
852        1
860        1
030        1
Name: 산업코드1, Length: 285, dtype: int64