In [86]:
import pandas as pd
from pandas_profiling import ProfileReport
import datetime 
from datetime import timedelta

In [87]:
non_financial = pd.read_csv('../dataset/merge.csv')
ind_og = non_financial[['사업자등록번호', '산업코드1']]

# dropna 산업코드 
ind_og = ind_og.dropna()
ind_og

           사업자등록번호    산업코드1
0       1138111739  47712.0
1       2078132193  15190.0
2       1318167565  49212.0
3       5048128251  30391.0
4       1098164260  46800.0
...            ...      ...
234367  4808501629  10200.0
234368  8018501578  10122.0
234369  4118523419  56111.0
234370  1738102533  58222.0
234371  3138135248  29280.0

[234168 rows x 2 columns]

In [88]:
def to_three(s):
    if len(str(int(s))) == 4:
        tmp = '0'+str(int(s))    
    else:
        tmp = str(int(s))
        
    return tmp[:3]

In [89]:
to_three(1020.0)

'010'

In [90]:
ind_og['산업코드1'] = ind_og['산업코드1'].apply(lambda x: to_three(x))
ind_og['산업코드1'].value_counts()

412    10523
681     9719
465     9659
582     9416
423     7656
       ...
500        1
942        1
852        1
860        1
030        1
Name: 산업코드1, Length: 285, dtype: int64

In [91]:
standard_ind_code = pd.read_excel('../dataset/산업분류/standard_ind_code.xlsx', header=2)
standard_ind_code = standard_ind_code.fillna(method='ffill')
standard_ind_code

                                          항목명   코드                항목명.1
0                          농업, 임업 및 어업(01~03)   11               작물 재배업
1                          농업, 임업 및 어업(01~03)   12                  축산업
2                          농업, 임업 및 어업(01~03)   13       작물재배 및 축산 복합농업
3                          농업, 임업 및 어업(01~03)   14    작물재배 및 축산 관련 서비스업
4                          농업, 임업 및 어업(01~03)   15         수렵 및 관련 서비스업
..                                        ...  ...                  ...
227           협회 및 단체, 수리 및 기타 개인 서비스업(94~96)  969       그 외 기타 개인 서비스업
228  가구 내 고용활동 및 달리 분류되지 않은 자가 소비 생산활동(97~98)  970            가구 내 고용활동
229  가구 내 고용활동 및 달리 분류되지 않은 자가 소비 생산활동(97~98)  981   자가 소비를 위한 가사 생산 활동
230  가구 내 고용활동 및 달리 분류되지 않은 자가 소비 생산활동(97~98)  982  자가 소비를 위한 가사 서비스 활동
231                             국제 및 외국기관(99)  990            국제 및 외국기관

[232 rows x 3 columns]

In [92]:
def to_three2(s):
    if len(str(int(s))) == 2:
        tmp = '0'+str(int(s))    
    else:
        tmp = str(int(s))
        
    return tmp

In [93]:
standard_ind_code['코드'] = standard_ind_code['코드'].apply(lambda x: to_three2(x))
standard_ind_code

                                          항목명   코드                항목명.1
0                          농업, 임업 및 어업(01~03)  011               작물 재배업
1                          농업, 임업 및 어업(01~03)  012                  축산업
2                          농업, 임업 및 어업(01~03)  013       작물재배 및 축산 복합농업
3                          농업, 임업 및 어업(01~03)  014    작물재배 및 축산 관련 서비스업
4                          농업, 임업 및 어업(01~03)  015         수렵 및 관련 서비스업
..                                        ...  ...                  ...
227           협회 및 단체, 수리 및 기타 개인 서비스업(94~96)  969       그 외 기타 개인 서비스업
228  가구 내 고용활동 및 달리 분류되지 않은 자가 소비 생산활동(97~98)  970            가구 내 고용활동
229  가구 내 고용활동 및 달리 분류되지 않은 자가 소비 생산활동(97~98)  981   자가 소비를 위한 가사 생산 활동
230  가구 내 고용활동 및 달리 분류되지 않은 자가 소비 생산활동(97~98)  982  자가 소비를 위한 가사 서비스 활동
231                             국제 및 외국기관(99)  990            국제 및 외국기관

[232 rows x 3 columns]

In [94]:
standard_ind_code

                                          항목명   코드                항목명.1
0                          농업, 임업 및 어업(01~03)  011               작물 재배업
1                          농업, 임업 및 어업(01~03)  012                  축산업
2                          농업, 임업 및 어업(01~03)  013       작물재배 및 축산 복합농업
3                          농업, 임업 및 어업(01~03)  014    작물재배 및 축산 관련 서비스업
4                          농업, 임업 및 어업(01~03)  015         수렵 및 관련 서비스업
..                                        ...  ...                  ...
227           협회 및 단체, 수리 및 기타 개인 서비스업(94~96)  969       그 외 기타 개인 서비스업
228  가구 내 고용활동 및 달리 분류되지 않은 자가 소비 생산활동(97~98)  970            가구 내 고용활동
229  가구 내 고용활동 및 달리 분류되지 않은 자가 소비 생산활동(97~98)  981   자가 소비를 위한 가사 생산 활동
230  가구 내 고용활동 및 달리 분류되지 않은 자가 소비 생산활동(97~98)  982  자가 소비를 위한 가사 서비스 활동
231                             국제 및 외국기관(99)  990            국제 및 외국기관

[232 rows x 3 columns]

In [95]:
ind_new = pd.merge(ind_og, standard_ind_code, left_on= '산업코드1', right_on='코드')
ind_new

           사업자등록번호 산업코드1                     항목명   코드      항목명.1
0       1138111739   477         도매 및 소매업(45~47)  477     연료 소매업
1       6068158196   477         도매 및 소매업(45~47)  477     연료 소매업
2       1118100750   477         도매 및 소매업(45~47)  477     연료 소매업
3       6098103778   477         도매 및 소매업(45~47)  477     연료 소매업
4       2178102639   477         도매 및 소매업(45~47)  477     연료 소매업
...            ...   ...                     ...  ...        ...
231214  1318400774   990           국제 및 외국기관(99)  990  국제 및 외국기관
231215  6168204511   852             교육 서비스업(85)  852    중등 교육기관
231216  4098611727   862  보건업 및 사회복지 서비스업(86~87)  862         의원
231217  4738600600   862  보건업 및 사회복지 서비스업(86~87)  862         의원
231218  1708701099   862  보건업 및 사회복지 서비스업(86~87)  862         의원

[231219 rows x 5 columns]

In [97]:
# ind_new = ind_new.drop(columns='산업코드1')
ind_new= ind_new.rename(columns={'항목명': '대분류', '코드': '분류코드', '항목명.1': '세부항목'})
ind_new

           사업자등록번호                     대분류 분류코드       세부항목
0       1138111739         도매 및 소매업(45~47)  477     연료 소매업
1       6068158196         도매 및 소매업(45~47)  477     연료 소매업
2       1118100750         도매 및 소매업(45~47)  477     연료 소매업
3       6098103778         도매 및 소매업(45~47)  477     연료 소매업
4       2178102639         도매 및 소매업(45~47)  477     연료 소매업
...            ...                     ...  ...        ...
231214  1318400774           국제 및 외국기관(99)  990  국제 및 외국기관
231215  6168204511             교육 서비스업(85)  852    중등 교육기관
231216  4098611727  보건업 및 사회복지 서비스업(86~87)  862         의원
231217  4738600600  보건업 및 사회복지 서비스업(86~87)  862         의원
231218  1708701099  보건업 및 사회복지 서비스업(86~87)  862         의원

[231219 rows x 4 columns]