In [2]:
import pandas as pd
from pandas_profiling import ProfileReport

In [14]:
financial = pd.read_csv("../dataset/재무데이터.txt", sep = '\t', encoding='cp949')
non_financial = pd.read_csv('../dataset/merge.csv')

In [23]:
financial['사업자번호'].unique()

array([1018100340, 1018100772, 1018101126, ..., 8998800150, 8998800427,
       8998800785])

In [16]:
isinactive = non_financial[['사업자등록번호', '휴폐업 유무']]
isinactive

           사업자등록번호 휴폐업 유무
0       1138111739      N
1       2078132193      N
2       1318167565      N
3       5048128251      N
4       1098164260      N
...            ...    ...
234367  4808501629      Y
234368  8018501578      Y
234369  4118523419      Y
234370  1738102533      Y
234371  3138135248      Y

[234372 rows x 2 columns]

In [17]:
financial = pd.merge(financial, isinactive, left_on='사업자번호', right_on= '사업자등록번호', how = 'left')
financial

,사업자번호,결산년월,유동자산,매출채권,비유동자산,유형자산,자산총계,유동부채,비유동부채,부 채 총 계,...,총자본회전율(회),재고자산회전율(회),매출채권회전율(회),매입채무회전율(회),미수금,매출원가,무형자산,재고자산,사업자등록번호,휴폐업 유무
0,1018100340,20181231,2667731.0,127320.0,32346444.0,1179096.0,35014174.0,422872.0,16176067.0,16598939.0,...,0.163,1.000000e+12,4.406200e+01,1.000000e+12,NaN,NaN,NaN,NaN,1018100340,N
1,1018100340,20181231,2667731.0,127320.0,32346444.0,1179096.0,35014174.0,422872.0,16176067.0,16598939.0,...,0.163,1.000000e+12,4.406200e+01,1.000000e+12,NaN,NaN,NaN,NaN,1018100340,N
2,1018100340,20191231,2168837.0,94085.0,34151633.0,1209369.0,36320470.0,10553878.0,5240445.0,15794323.0,...,0.184,1.000000e+12,5.909200e+01,NaN,NaN,NaN,NaN,NaN,1018100340,N
3,1018100340,20191231,2168837.0,94085.0,34151633.0,1209369.0,36320470.0,10553878.0,5240445.0,15794323.0,...,0.184,1.000000e+12,5.909200e+01,NaN,NaN,NaN,NaN,NaN,1018100340,N
4,1018100340,20201231,2272260.0,78612.0,38329680.0,1091153.0,40601940.0,863144.0,15496117.0,16359261.0,...,0.154,1.000000e+12,6.871400e+01,1.000000e+12,NaN,NaN,NaN,NaN,1018100340,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
208042,8998800785,20191231,475283.0,NaN,309796969.0,309796969.0,310272251.0,3722434.0,274776917.0,278499351.0,...,0.000,1.000000e+12,1.000000e+12,1.000000e+12,NaN,NaN,NaN,NaN,8998800785,N
208043,8998800785,20201231,1474607.0,NaN,366181956.0,366181956.0,367656563.0,1593683.0,335844394.0,337438077.0,...,0.000,1.000000e+12,1.000000e+12,1.000000e+12,NaN,NaN,NaN,NaN,8998800785,N
208044,8998800785,20201231,1474607.0,NaN,366181956.0,366181956.0,367656563.0,1593683.0,335844394.0,337438077.0,...,0.000,1.000000e+12,1.000000e+12,1.000000e+12,NaN,NaN,NaN,NaN,8998800785,N
208045,8998800785,20211231,2540577.0,1201346.0,422469161.0,420110684.0,425009738.0,282361726.0,125659808.0,408021534.0,...,0.003,1.000000e+12,1.000000e+12,1.000000e+12,NaN,NaN,NaN,NaN,8998800785,N
208046,8998800785,20211231,2540577.0,1201346.0,422469161.0,420110684.0,425009738.0,282361726.0,125659808.0,408021534.0,...,0.003,1.000000e+12,1.000000e+12,1.000000e+12,NaN,NaN,NaN,NaN,8998800785,N

In [24]:
financial['휴폐업 유무'].value_counts()

N    197810
Y     10237
Name: 휴폐업 유무, dtype: int64